@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-card {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  }
}
